@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-background: #18181B;
    --color-foreground: #282828;
    --color-text: #E4E4E7;
    --color-backdrop: rgba(0, 0, 0, 0.7);
}

:root {
    scrollbar-width: thin;
    scrollbar-color: var(--color-foreground) transparent;
}

body {
    @apply bg-background;
    @apply text-text;
    font-family: "Roboto", sans-serif;
}

button {
    @apply cursor-pointer;
}