[class*="dnsFont_"] {
    font-family: unset;
}

.innerContainer_dfb989 {
    -webkit-text-stroke-color: unset !important;
    -webkit-text-stroke-width: unset !important;
}

.glowContainer_dfb989 {
    display: none;
}

.neon_dfb989 {
    animation: none !important;
}

.toon_dfb989:before {
    display: none;
}

.toon_dfb989 {
    color: unset !important;
}